<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link href="/main.css" rel="stylesheet" type="text/css">
	 <link href="https://fonts.googleapis.com/css?family=Rancho&effect=fire" rel='stylesheet' type='text/css'>
</head>
<header>
	<h1 class="font-effect-fire">Add a new Pokemon</h1>
</header>
<body>
	<form class="new-animal" action="/pokemon" method="post">
		<input type="text" name="name" value="" placeholder="Name">
		<input type="img" name="img" value="" placeholder="Image Url">
		<input type="submit" value="submit">
	</form>
	<a href="/pokemon">Pokemon Home Page</a>
</body>
</html>